{% extends "base.html" %}

{% block content %}
    <div class="noticia">
        {% for noticia in noticias %}
            <h2 class="titulo">{{noticia.titulo}}</h2>
            <h4 class="fecha">{{noticia.fecha}}</h4>
            <h6 class="descripcion">{{noticia.cuerpo}}</h6>
        {% endfor %}
    </div>
{% endblock content %}