{% extends "base.html" %}

{% block content %}
    <ul class="'listado">
        {% for categoria in lista_categorias %}
            <li class="item"><a href="/detalle/{{categoria.id}}">{{categoria.nombre}}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}